@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 29, 29, 29;
  --background-end-rgb: 100, 100, 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 29, 29, 29;
    --background-end-rgb: 100, 100, 100;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

button {
  background-color: unset;
}

.card {
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

/* // background-color: rgba(255,195,0,var(--tw-bg-opacity));
// background-color: rgba(23,23,23,var(--tw-bg-opacity));
// 150 x 44 pill buttons outlined */
